[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
click = "*"
tqdm = "*"
pyyaml = "*"
pyproj = "*"
pandas = "*"
joblib = "*"
requests = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
coverage = "*"
black = "*"
ruff = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.11"
